.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f29d9b+0,efdbb6+51,cbe8f0+100 */
  background: #0074d9; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #0074d9 0%,
    #39cccc 51%,
    #0074d9 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #0074d9 0%,
    #39cccc 51%,
    #0074d9 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #0074d9 0%,
    #39cccc 51%,
    #0074d9 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#0074d9",
      endColorstr="#39cccc",
      GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
}

.navbar {
  border-bottom: 1px solid #ccc;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10px;
}


.navbar h1 {
  font-size: 20px;
  margin: inherit;
  padding: inherit;
  font-weight: bold;
}

.navbar h2,
.navbar h3 {
  font-size: 14px;
  margin: inherit;
  padding: inherit;
  text-transform: uppercase;
  color: white;
}


.button {
  border-radius: 10px;
  padding: 0;
  background: #0066cc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button .icon {
  padding-left: 5px;
  display: inline-block;
}

.button a {
  padding: 3px 8px;
  color: white;
  text-decoration: none;
}

@media (max-width: 1450px) {
  .mobile-hidden {
    display: none;
  }
  .lesson-container {
    padding-top: 65px;
  }
}

.main {
  margin-bottom: 100px;
}

.button:hover {
  background: #0d6efd;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron.gradient {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand.navbar-brand {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.navbar-brand.navbar-brand:hover {
  color: #aaa;
}

.navbar-brand.navbar-brand:focus {
  color: white;
}

.lesson {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  overflow: scroll;
}

.lesson p {
  clear: both;
}

.lesson-links {
  font-size: 18px;
  padding: 15px 0;
}

.next {
  float: right;
}

.prev {
  float: left;
}

.lesson-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.doggos {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
}
