.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f29d9b+0,efdbb6+51,cbe8f0+100 */
  background: #f29d9b; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #f29d9b 0%,
    #efdbb6 51%,
    #cbe8f0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f29d9b",
      endColorstr="#cbe8f0",
      GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
}

.navbar {
  border-bottom: 1px solid #ccc;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  text-transform: uppercase;
}

.blog-post {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}
